#hio{
  color:red
}
nav .nav-wrapper {
  background-color: white;
}
nav i, nav [class^="mdi-"], nav [class*="mdi-"], nav i.material-icons {
  color: black;
}

nav .brand-logo {
  color: #171616;
}
.collapsible-header {
  position: absolute;
  left: 35%;
  bottom: -4%;
  border-bottom: 1px solid #ddd0;
  padding: 0;
  background-color: #fff0;

}
#month{
  color: black;
  position: fixed;
  top: 3%;
  right: 76%;
}
ul:not(.browser-default) {
  padding: 0px;
  margin: 0px;
  border: white;
}
@media only screen and (min-width: 993px){
  nav a.sidenav-trigger {
    display: -webkit-box;
  }
}
.element.style {
  display: contents !important;
}
#date-span{
  color:black
}
.modal-overlay {
  background: #0000;
}
.modal {
  /* position: inherit; */
  color: #9E9E9E;
}
.z-depth-5, .modal {
  -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.14), 0px 0px 0px 0px rgba(0,0,0,0.12), 0px 0px 0px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.14), 0px 0px 0px 0px rgba(0,0,0,0.12), 0 0px 0px 0px rgba(0,0,0,0.2);
}

.datepicker-date-display .date-text {
  display: none;
}
.datepicker-date-display .year-text {
  display: none;
}
.datepicker-footer {
 
  display: none;
}
.datepicker-date-display {
  display: none;
  padding: 0px;
}

.datepicker-controls {
  display: none;
}
.datepicker-table {
  width: 100%;
}
#input0{
  width: 29%;
  position: absolute;
  left: 15%;
}
.datepicker-calendar-container {
  /* background-color: white; */
}
@media only screen and (max-width: 992px){
  .modal {
      width: 100%;
  }
}

#logo{
  width: 95%;
}
#user{
  padding: 10px;
}
.sidenav .user-view .circle, .sidenav .user-view .name, .sidenav .user-view .email {
  display: -webkit-inline-box;
}
.nav {
  color: #9E9E9E;}
.email{
  position: absolute;
  right: -12px;
  top: 35%;
  color:#656363;
}
.frm1{
  padding: 12%;
  color: black;
  font-weight: 500;
}
#email2{
  position: absolute;
  left: 33%;
  top: 24%;
  color: #656363;
}
.span1{

}

/*------------------------------------------schedule--------------  */
.bgimg1 { 
  /* The image used */
  background-image: url("../../images/calendar/january.jpg");
  min-height: 150px;

}
.bgimg2 { 
  /* The image used */
  background-image: url("../../images/calendar/bkg_02_february.jpg");
  min-height: 150px;
}
.bgimg3 { 
  /* The image used */
  background-image: url("../../images/calendar/bkg_03_march.jpg");
  min-height: 150px;
}
.bgimg4 { 
  /* The image used */
  background-image: url("../../images/calendar/bkg_04_april.jpg");
  min-height: 150px;
}
.bgimg5 { 
  /* The image used */
  background-image: url("../../images/calendar/bkg_05_may.jpg");
  min-height: 150px;
}
.bgimg6 { 
  /* The image used */
  background-image: url("../../images/calendar/bkg_06_june.jpg");
  min-height: 150px;
}
.bgimg7 { 
  /* The image used */
  background-image: url("../../images/calendar/bkg_07_july.jpg");
  min-height: 150px;
}
.bgimg8 { 
  /* The image used */
  background-image: url("../../images/calendar/bkg_08_august.jpg");
  min-height: 150px;
}
.bgimg9 { 
  /* The image used */
  background-image: url("../../images/calendar/bkg_09_september.jpg");
  min-height: 150px;
}
.bgimg10 { 
  /* The image used */
  background-image: url("../../images/calendar/bkg_10_october.jpg");
  min-height: 150px;
}
.bgimg11 { 
  /* The image used */
  background-image: url("../../images/calendar/bkg_11_november.jpg");
  min-height: 150px;
}
.bgimg12 { 
  /* The image used */
  background-image: url("../../images/calendar/bkg_12_december.jpg");
  min-height: 150px;
}



.bgimg1, .bgimg2, .bgimg3, .bgimg4, .bgimg5, .bgimg6 , .bgimg7, .bgimg8, .bgimg9, .bgimg10, .bgimg11, .bgimg12 {
  position: relative;
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.caption{
  position: absolute;
  right: 31%;
  top: 10%;
  width: 100%;
  font-size: 20px;
  text-align: center;
  color: black; 
}
.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}
p {
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}
.text{
  padding: 50px 80 px;
  text-align: justify;
  margin: 0 0 0 12%;
  color: gray;
  text-align: left;
}
#t1{
  color: red
}


.variablep{
  color: #9E9E9E;
  position: absolute;
  top: 18%;
  left: 6%;
  
}

/* ===========================day========================= */
.collection .collection-item {
  padding: 20px 20px;
}
.collection.with-header .collection-header {
  background-color: #fff0;
}
/* #headerp{
  position: absolute;
  top: 1%;
    left: 17%;

} */
.secondary-content {
  float: none;
  color: #9E9E9E;
  font-size: 15px;
}
h4 {
  font-size: 1.5rem;
  line-height: 110%;
  color: black;
  margin: 0.52rem 0px -0.088rem 4px;
}
.container {
  width: 70%;
  position: absolute;
  left: 20%;
  margin: 0px ;
  top: 11%;
}
